@import '../../style/variable.scss';

.tabs {
  position: fixed;
  bottom: $padding;
  left: $padding;
  right: $padding;

  padding: $padding;

  background: $subBg;

  border-radius: $borderRadius;
}
