@import '../../style/variable.scss';

@font-face {
  font-family: 'iconfont'; /* project id 1891103 */
  src: url('//at.alicdn.com/t/font_1891103_c0oq5golyb6.eot');
  src: url('//at.alicdn.com/t/font_1891103_c0oq5golyb6.eot?#iefix')
      format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1891103_c0oq5golyb6.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1891103_c0oq5golyb6.woff') format('woff'),
    url('//at.alicdn.com/t/font_1891103_c0oq5golyb6.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1891103_c0oq5golyb6.svg#iconfont') format('svg');
}

.iconfont {
  font-family: iconfont;
  display: inline-block;
  color: $text;

  padding: 6px;
  font-size: 80px;
}

.default {
  padding: 6px;
  font-size: 80px;
}
.small {
  padding: 4px;
  font-size: 60px;
}

.large {
  padding: 8px;
  font-size: 120px;
}
